%a.btn.btn-primary.btn-lg{ :href => new_user_path, role: "button" }= "Jauns Lietot훮js"
%h1= "Lietot훮ji"
.content_container
  %table.table.table-hover.table-striped
    %thead.table_head
      %tr
        %th= "#"
        %th= "V훮rds"
        %th= "Uzv훮rds"
        %th= "Epasts"
        %th= "Loma"
        %th= "Telefona Nummurs"
    %tbody.workers
      - @users.each do |user|
        %tr{ onclick: "window.location.href = '/admin/users/#{user.id}'", style: "cursor: pointer" }
          %td= user.id
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= user.role
          %td= user.phone_number

