%html
  %head
    %title Inventory
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if user_signed_in?
      #wrapper
        #sidebar-wrapper
          %ul.sidebar-nav
            %li.sidebar-brand
              %a{:href => root_path} Home
            %li
              %a{:href => "/#workers"} Darbinieki
            %li
              %a{:href => "/#person_equipments"} IAL
            %li
              %a{:href => "/#person_equipments/archive"} IAL katalogs
            %li
              %a{:href => "/#reports" } Atskaites
            - if current_user.admin?
              %li
                %a{:href => "/admin/users"} Administratora Panelis
            %li
              = link_to "Iziet", destroy_user_session_path, :method => :delete
        #page-content-wrapper
          .container-fluid
            .row
              = yield
              %p.notice= notice if notice
              %p.alert= alert if alert
    - else
      = yield
